body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F8F8F1;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 15px 10px;
    grid-template-areas: 
    "stereo intro intro"
    "stereo repos academic";
}

#stereoPlot {
    height: auto;
    width: 100%;
    grid-area: stereo;
}

#intro-text {
    grid-area: intro;
}

#github-repos {
    grid-area: repos;
}

#academic {
    grid-area: academic;
}

ul.base-list {
    list-style-type: none;
}

li {
    margin: .5em 0;
}


/* With help from https://www.viget.com/articles/color-contrast */
h1 {
    color: #555f61;
}

h2 {
    color: #555f61;
}

p {
    color:#144270;
}

a {
    color: #704214;
}

#lockTriggerGroup {
    fill-opacity: 0;
    stroke: #555f61;
    stroke-width: 0.5;
}

#lockToggleGroup {
    fill-opacity: 0;
    stroke: #555f61;
    stroke-width: 1;
    transform: translate(-92.5px, -95px) scale(0.5);
}

#planeToggleGroup {
    stroke: #555f61;
    stroke-width: 0.5;
    transform: translate(80px, -80px) rotate(45);
}

#stereoDiagram {
    stroke: #555f61;
    stroke-width: 0.005;
}

#stereoCircle {
    fill: none;
}

.plotPoint {
    stroke: none;
    fill: #373d3f;
}

#orientationPlane {
    stroke: none;
    fill: #e9162d;
}

#orientationLine {
    stroke: none;
    fill: #144270;
}

#stereoLines {
    clip-path: url(#clipPrimitive);
}
#phone-gc {
    fill:none;
    stroke:#e9162d;
    stroke-width:.005;
}

svg > g.stereo-element {
  transform: scale(100, -100);
}

#projectionText {
    font-size: 8pt;
    fill:#144270;
}



@media (orientation: landscape) {
}

@media (orientation: portrait) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto auto;
        grid-template-areas: 
        "stereo stereo"
        "intro intro"
        "repos academic";
    }
}